# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
/.build/
/.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.swift-version
*.xcscmblueprint


*.mlmodelc
